<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-home"> Toy R Not Us</i></a>
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/search']" style="color: white;"><i class="fa fa-search"> Search</i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']" style="color: white;"><i class="fa fa-shopping-cart"> Cart</i>
            </a>
        </li>
    </ul>

</nav>