
<div class = "card">
<div class ="card-header"><h1>Search Toy</h1></div>
<div class = "card-body">
<p>Select Age: </p>
<select name="age" [(ngModel)]="ageOption" class="form-control inputstl" style = "width:200px;">
  <option value="3-5">3-5</option>
  <option value="over8">Over 8</option>
  <option value="any">Any</option>
</select>
<p>Select Gender: </p>
<select name="gender" [(ngModel)]="genderOption" class="form-control inputstl" style = "width:200px;">
  <option value="Neutral">Neutral</option>
  <option value="Female">Female</option>
  <option value="any">Any</option>
</select>
<button style = "margin-top:20px;"class = "btn btn-primary" name="search" (click)="searchProduct(ageOption, genderOption)">Search</button>


<h2>{{ products.length }} toys found.</h2>
<table class="table">
  <thead>
    <tr>
      <th>Product Name</th>

      <th>Price</th>

      <th>Availability</th>

    </tr>

  </thead>

  <tbody *ngIf="products.length > 0">

    <tr *ngFor="let product of products" [id]="product.id" (click)="onClickProduct(product.id)">



      <th>{{ product.name }}</th>

      <th>{{ product.price | number:'1.2-2'  }}</th>

      <th>{{ product.availability | uppercase}}</th>



    </tr>

  </tbody>

  <tbody *ngIf="products.length == 0">

    <tr>

      <th>

        ไม่มีข้อมูลสินค้า

      </th>

    </tr>

  </tbody>

</table>
  </div>
</div>